<header>
  <div><a href="/">WDE</a></div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (!locals.isAuth) { %>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/login">Login</a></li>
      <% } %> <% if (locals.isAuth) { %>
      <li><a href="/logout">Logout</a></li>
      <% } %>
      <% if (locals.isAdmin) { %>
        <li><a href="/admin/products">Manage products</a></li>
      <% } %>
      <li><a href="/cart">Cart <span class="badge"><%= locals.cart.totalQuantity %></span></a></li>
    </ul>
  </nav>
</header>
