<%- include("../../base/includes/head", {pageTitle: "Manage products"}) %>
<script src="/scripts/product-management.js" defer></script>
</head>
<body>
  <%- include("../../base/includes/header") %>
  <main>
    <section>
      <h1>Product Administration</h1>
      <p><a class="btn" href="/admin/products/new">Add new product</a></p>
    </section>
    <section>
      <ul>
        <% for (const product of products) { %>
          <li>
            <%- include("../../base/includes/product-item", { product: product}) %>
          </li>
        <% } %>
      </ul>
    </section>
  </main>
<%- include("../../base/includes/footer") %>