<header>
    <div><a href="/">WDE</a></div>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout"></a></li>
        </ul>
    </nav>
</header>